/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    padding-bottom: 20px;
    color: #fff;
    font-size: 4rem;
}


/* Utils */
.box.cs-bl {
    background-color: dodgerblue;
}

.box.cs-ye {
    background-color: darkkhaki;
}

.box.cs-re {
    background-color: orangered;
}




/* ? Main */
main {
    background-color: darkcyan;
}

section {
    padding: 80px 0;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.box {
    height: 100px;
    width: 100px;
    background-color: darkorchid;

    text-align: center;
    line-height: 100px;
    color: #fff;

    cursor: pointer;
    border-radius: 20%;
}

.box:hover {
    scale: 1.2;
}